services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pulsar-fitness-jenkins
    user: root
    ports:
      - "9998:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true

volumes:
  jenkins_home:
